@use "../../base/variables";
@use "../utility/padding";
@use "../utility/margin";
@use "../../base/base";
@use "../../base/mixin";

.breadcrumb {
  &__container {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 1.6rem;
    font-size: base.$text-r;
  }

  &__item {
    margin-right: margin.$margin8;
  }

  &__link {
    color: variables.colors(white_1);

    &:hover {
      color: variables.colors(primary);
      cursor: pointer;
    }

    &-active {
      color: variables.colors(white_1);
    }
  }

  &__img {
    margin-right: margin.$margin8;
    transform: rotate(90deg);
  }
}