@use "../../base/mixin";
@use "../../base/variables" as var;
@use "../utility/margin" as m;
@use "../utility/padding" as p;

.breadcrumb {
  &__container {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 1.6rem;
    font-size: var.$text-r;
  }

  &__item {
    margin-right: m.$margin8;
  }

  &__link {
    color: var.colors(white_1);

    &:hover {
      color: var.colors(primary);
      cursor: pointer;
    }

    &-active {
      color: var.colors(white_1);
    }
  }

  &__img {
    margin-right: m.$margin8;
    transform: rotate(90deg);
  }
}