@use "../../base/variables";
@use "../utility/padding";
@use "../utility/margin";
@use "../../base/base";

%large {
  min-width: 30rem;
  max-width: 40rem;
  height: 12.6rem;
  display: block;
  text-align: center;
  border-radius: 100rem;
  line-height: 1.4;

  &:hover {
    background-color: variables.colors(gray6);
    cursor: pointer;
  }
}

%medium {
  min-width: 15rem;
  max-width: 30rem;
  display: block;
  text-align: center;
  padding: padding.$padding16 0;
  border-radius: 10rem;
  font-size: 1.6rem;

  &:hover {
    background-color: variables.colors(gray6);
    cursor: pointer;
  }
}

.btn {

  &-large {

    @extend %large;
    color: variables.colors(white_1);
    background-color: variables.colors(navy_2);
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      font-size: base.$text-m;
    }

    &__img {
      &-above {
        margin-right: margin.$margin8;
      }

      &-below {
        margin-left: margin.$margin8;
      }
    }

    &__description {
      font-size: base.$text-r;
      margin-top: margin.$margin16;
    }
  }

  &-medium {

    @extend %medium;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      margin-right: margin.$margin4;
    }

    &__text {
      margin-right: margin.$margin4;
    }

    &-primary {

      @extend %medium;
      color: variables.colors(white_1);
      background-color: variables.colors(primary);

      .send-icon {

        &:not(:last-child) {
          display: none;
        }

        &:last-child {
          display: inline-block;
        }
      }
    }

    &-secondary {

      @extend %medium;
      color: variables.colors(white_1);
      background-color: variables.colors(navy_1);

      .send-icon {

        &:not(:last-child) {
          display: none;
        }

        &:last-child {
          display: inline-block;
        }
      }
    }

    &-tertiary {

      @extend %medium;
      color: variables.colors(navy_1);
      background-color: transparent;
      border: 1px solid variables.colors(navy_1);

      .send-icon {
        margin-left: margin.$margin8;

        &:last-child {
          display: none;
        }
      }

      &:hover {
        border: 1px solid variables.colors(gray6);
        color: variables.colors(white_1);

        & .send-icon:not(:last-child) {
          display: none;
        }

        & .send-icon:last-child {
          display: inline-block;
        }
      }
    }

    &-quaternary {

      @extend %medium;
      color: variables.colors(white_1);
      background-color: transparent;
      border: 1px solid #fff;

      .send-icon {

        &:not(:last-child) {
          display: none;
        }

        &:last-child {
          display: inline-block;
        }
      }

      &:hover {
        border: 1px solid variables.colors(gray6);
      }
    }
  }

  &-text {

    &-primary {
      font-size: 1.6rem;
      color: variables.colors(navy_1);

      &:hover {
        color: variables.colors(primary);
      }
    }

    &-secondary {
      font-size: 1.6rem;
      color: variables.colors(white_1);

      &:hover {
        color: variables.colors(primary);
      }
    }

  }
}