@use "../../base/mixin";
@use "../../base/variables" as var;
@use "../utility/margin" as m;
@use "../utility/padding" as p;

%large {
  min-width: 30rem;
  height: 12.6rem;
  display: block;
  text-align: center;
  border-radius: 100rem;
  line-height: 1.4;

  &:hover {
    background-color: var.colors(gray6);
    cursor: pointer;
  }
}

%medium {
  min-width: 15rem;
  display: block;
  text-align: center;
  padding: p.$padding16 0;
  border-radius: 10rem;
  font-size: 1.6rem;

  &:hover {
    background-color: var.colors(gray6);
    cursor: pointer;
  }
}

.btn {

  &-large {

    @extend %large;
    color: var.colors(white_1);
    background-color: var.colors(navy_2);
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      font-size: var.$text-m;
    }

    &__img {
      &-above {
        margin-right: m.$margin8;
      }

      &-below {
        margin-left: m.$margin8;
      }
    }

    &__description {
      font-size: var.$text-r;
      margin-top: m.$margin16;
    }
  }

  &-medium {

    @extend %medium;

    margin-bottom: m.$margin16;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      width: 21rem;
      color: var.colors(white_1);
      background-color: var.colors(navy_1);
      cursor: auto;
    }

    &.disable {
      width: 21rem;
      color: var.colors(white_1);
      background-color: var.colors(gray3);

      &:hover {
        cursor: pointer;
        background-color: var.colors(gray5);
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      margin-right: m.$margin4;
    }

    &__text {
      margin-right: m.$margin4;
    }

    &-primary {

      @extend %medium;
      color: var.colors(white_1);
      background-color: var.colors(primary);

      .send-icon {

        &:not(:last-child) {
          display: none;
        }

        &:last-child {
          display: inline-block;
        }
      }

      &.yoshina {
        max-width: 30rem
      }
    }

    &-secondary {

      @extend %medium;
      color: var.colors(white_1);
      background-color: var.colors(navy_1);

      .send-icon {

        &:not(:last-child) {
          display: none;
        }

        &:last-child {
          display: inline-block;
        }
      }

      &.thanks {
        width: 18.4rem;
        margin: 0 auto;
      }
    }

    &-tertiary {

      @extend %medium;
      color: var.colors(navy_1);
      background-color: transparent;
      border: 1px solid var.colors(navy_1);

      .send-icon {
        margin-left: m.$margin8;

        &:last-child {
          display: none;
        }
      }

      &:hover {
        border: 1px solid var.colors(gray6);
        color: var.colors(white_1);

        & .send-icon:not(:last-child) {
          display: none;
        }

        & .send-icon:last-child {
          display: inline-block;
        }
      }
    }

    &-quaternary {

      @extend %medium;
      color: var.colors(white_1);
      background-color: transparent;
      border: 1px solid #fff;

      .send-icon {

        &:not(:last-child) {
          display: none;
        }

        &:last-child {
          display: inline-block;
        }
      }

      &:hover {
        border: 1px solid var.colors(gray6);
      }
    }

    @include mixin.mq(xl) {
      margin: 0 m.$margin16 0 0;
    }
  }

  &-text {

    &-primary {
      font-size: 1.6rem;
      color: var.colors(navy_1);

      &:hover {
        color: var.colors(primary);
      }
    }

    &-secondary {
      font-size: 1.6rem;
      color: var.colors(white_1);

      &:hover {
        color: var.colors(primary);
      }
    }

  }
}