@use "../../base/mixin";
@use "../../base/variables" as var;
@use "../utility/margin" as m;

.home {

  &__key-visual {

    &__container {
      position: relative;
      min-height: 70rem;

      >img {
        width: 100%;
        min-height: 70rem;
        object-position: 42.5%;
        object-fit: cover;
        box-sizing: border-box;
      }
    }

    &__text {
      position: absolute;
      top: 55%;
      right: 5%;

      &-headline {
        color: var.colors(white_1);
        margin-bottom: m.$margin32;
      }

      &-description {
        color: var.colors(white_1);
      }
    }
  }
}

.vision {

  &__key-visual {

    &__container {
      position: relative;
      margin-bottom: m.$margin128;
    }

    &__img {
      width: 100%;
      min-height: 70rem;
      object-position: 42.5%;
      object-fit: cover;
      box-sizing: border-box;
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 5%;
      right: 5%;
      transform: translateY(-50%);
      color: var.colors(white_1);
    }
  }
}

.common {

  &__key-visual {

    &__container {
      position: relative;
      margin-bottom: m.$margin128;
    }

    &__video {
      width: 100%;
      height: 20rem;
      object-position: 42.5%;
      object-fit: cover;
      box-sizing: border-box;
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 5%;
      right: 5%;
      transform: translateY(-50%);
      color: var.colors(white_1);
    }
  }
}

@include mixin.mq(xl) {

  .home {

    &__key-visual {

      &__text {
        top: 48%;
        right: 11%;
      }
    }
  }
}
