@use "../../base/mixin";
@use "../../base/variables" as var;
@use "../utility/margin" as m;
@use "../utility/padding" as p;

.next-content {
  padding: 0 p.$padding16;
  background-color: var.colors(white_1);

  &__container {
    padding-bottom: p.$padding64;
  }

  &__title {
    padding: p.$padding64 0;
    text-align: center;
  }

  &__btn {
    display: block;
    width: 100%;
  }

  &__link {
    max-width: 100%;
    margin-bottom: m.$margin16;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mixin.mq(xl) {
    padding: 0 p.$padding16;

    &__container {
      display: flex;
      max-width: 102.4rem;
      margin: 0 auto;
      justify-content: space-between;
      padding-bottom: p.$padding64;
    }

    &__btn {
      display: block;
      width: 100%;
    }

    &__link {
      max-width: 100%;
      width: 32.8rem;
      margin-bottom: m.$margin16;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}