@use "../../base/mixin";
@use "../../base/variables" as var;
@use "../utility/margin" as m;
@use "../utility/padding" as p;

.toc {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var.$text-r;
  color: var.colors(white_1);
  background-color: var.colors(navy_2);
  padding: 2rem p.$padding32;
  border-radius: 10rem;
  max-width: 102.4rem;
  width: 70%;

  &__wrapper {
    padding: 0 p.$padding16;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin-right: m.$margin8;

    &:hover {
      opacity: 0.6;
    }
  }
}

@include mixin.mq(xl) {
  .toc {
    width: 85%;
  }
}