@use "../base/mixin";
@use "../base/variables" as var;
@use "../object/utility/margin" as m;
@use "../object/utility/padding" as p;

.footer {
  padding: p.$padding64 p.$padding16 p.$padding32;
  background-color: var.colors(navy_1);

  &__recruit {
    color: var.colors(white_1) !important;
    border: 1px solid var.colors(white_1) !important;
    margin: m.$margin32 0 m.$margin16;

    .send-icon {
      margin-left: m.$margin8;
    }

    &:hover {
      background-color: var.colors(white_1) !important;
      color: var.colors(gray6) !important;
      border: 1px solid var.colors(white_1);
    }
  }

  &__contact {
    color: var.colors(white_1) !important;
    border: 1px solid var.colors(primary);
    background-color: var.colors(primary);

    .send-icon {
      margin-left: m.$margin8;
    }

    &:hover {
      background-color: var.colors(white_1) !important;
      color: var.colors(gray6) !important;
      border: 1px solid var.colors(white_1);
    }
  }

  &__nav {

    &-container {
      border-bottom: 1px solid var.colors(gray_5);
      padding: p.$padding32 0;
    }

    &-logo {

      &:hover {
        opacity: 0.6;
      }
    }

    &-headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var.colors(white_1);
      cursor: pointer;
    }

    &-link {
      font-size: variables.$text-l;
      color: var.colors(white_1);

      &-allow {

        width: 2.4rem;
        height: 2.4rem;

        &.active {
          transform: rotate(180deg);
        }
      }
    }

    &-item {

      &-sub {
        display: none;

        &__headline {
          color: var.colors(white_1);
          display: flex;
          font-size: variables.$text-m;

          &:hover {
            background-color: var.colors(gray5);
            border-radius: 5px;
          }

          &>p {
            font-size: variables.$text-m;
          }
        }
      }
    }
  }

  &__info {
    padding: p.$padding16 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var.colors(gray_5);
    margin-bottom: m.$margin96;
  }

  &__sns {
    width: 45%;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: m.$margin16;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: var.colors(gray5);
        border-radius: 4px;
      }
    }

    &-text {
      margin-left: m.$margin8;
      font-size: variables.$text-r;
      color: var.colors(white_1);
    }
  }

  &__policy {
    width: 50%;

    &-text {
      display: block;
      margin-bottom: m.$margin16;
      font-size: variables.$text-r;
      color: var.colors(white_1);

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: var.colors(gray5);
        border-radius: 4px;
      }
    }
  }

  &__copy {
    font-size: variables.$text-r;
    color: var.colors(white_1);
  }

  @include mixin.mq(xl) {
    padding-top: p.$padding96;

    &__container {
      max-width: 102.4rem;
      margin: 0 auto;
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__offer {
      display: flex;
    }

    &__recruit {
      width: 15rem;
      margin: 0 m.$margin16 0 0;
    }

    &__contact {
      width: 15rem;
    }

    &__nav {

      &-list {
        display: flex;
        justify-content: space-between;
      }

      &-item {
        width: 24%;

        &-sub {
          display: block;

          &__headline {
            font-size: variables.$text-r;
            color: var.colors(white_1);
            display: flex;

            &>p {
              font-size: variables.$text-r;
            }
          }

          &__content {
            display: none;
          }
        }
      }

      &-link {
        font-size: variables.$text-m;

        &-allow {
          display: none;
        }
      }
    }

    &__info {
      width: 50%;
      border-bottom: none;
      margin-bottom: 0;
    }

    &__copy {
      margin: 0 auto;
      display: block;
      max-width: 102.4rem;
      border-top: 1px solid var.colors(gray_5);
      padding-top: p.$padding96;
    }
  }
}